@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    background: #121212;
    padding: 0 20px 0 20px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.row{
    width: 100%;
    height: 710px;
    border-radius: 10px;
    background: #121212;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
}

.logo{
    position: absolute;
    top: 0;
    left: 5;
    color: #FFFFFF;
    margin-top: 20px;
}

.logo img{
    width: 40px;
    height: 20px;
}

.logo h2{
    margin-left: 40px;
    font-size: 22px;
}

.side-image{
    background-image: url("../images/reg_bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px 0 0 10px;
}

img{
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    object-fit: cover;
}

.text p{
    color: #fff;
    font-size: 18px;
}

i{
    font-weight: 400;
    font-size: 15px;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.input-box{
    width: 450px;
    box-sizing: border-box;
}

.input-box header{
    font-weight: 700;
    text-align: center;
    margin-bottom: 55px;
    color: #FFFFFF;
    margin-top: 20%;
}

.input-box header h2{
    font-size: 25px;
}

.input-box header p{
    font-size: 12px;
}

.input-field{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.input-field label {
    color: #FFFFFF;
}

.input{
    height: 35px;
    width: 100%;
    background: #212428;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    outline: none;
    margin-bottom: 20px;
    color: #d3d3d3;
    border-radius: 5px;
    padding: 20px 10px;
}

.input-field input::placeholder {
    font-size: 13px; 
    color: #9FAFB5;
}


.input-box .input-field label{
    position: absolute;
    top: -30px;
    left: 10px;
    pointer-events: none;
    transition: .5s;
    font-size: 12px;
}

.submit {
    border: none;
    outline: none;
    height: 45px;
    background: #2C66FF;
    border-radius: 5px;
    transition: .4s;
    margin-top: 10px;
    cursor: not-allowed;
    color: #FFFFFF;
}

.submit:enabled:hover {
    background: rgba(37, 95, 156, 0.9);
    color: #fff;
    cursor: pointer;
}

.text{
    position: absolute;
    top: 0;
    right: 0;
    color: #FFFFFF;
    margin-right: 10%;
}

.signin{
    text-align: center;
    font-size: small;
    margin-top: 25px;
}

span a{
    text-decoration: none;
    color: #FFFFFF;
    transition: .5s;
    border: 2px #2A4AF4 solid;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 5px;
}
span a:hover{
    text-decoration: underline;
    color: #9f9d9d;
}


@media only screen and (max-width: 768px){
    .side-image{
        border-radius: 10px 10px 0 0;
    }
    img{
        width: 35px;
        position: absolute;
        top: 20px;
        left: 47%;
    }
    .text{
        position: absolute;
        top: 70%;
        text-align: center;
    }
    .text p,i{
        font-size: 17px;
    }
    .row{
        max-width: 420px;
        width: 100%;
    }
}




