@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Toggle switch styles */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.navbar {
  padding: 30px 100px;
  background-color: black;
}

.nav-link {
  color: white !important;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  opacity: 0.8;
  letter-spacing: 2px;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.navbar-solid {
  background-color: black;
  transition: black 1s ease-in-out;
}

.custom-btn {
  background-color: #2254b4 !important;
  padding: 0.25rem 0.5rem !important;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 18px;
}

.hero {
  background-color: black;
  background-image: url("/sideimage.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  height: 700px;
  display: flex;
  align-items: center;
  margin-top: 100px;
  padding-top: 50px;
}

.hero-content {
  color: white;
}

.hero-content h1 {
  margin-bottom: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  letter-spacing: -1px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 30px;
}

/* #chart{
  position: absolute;
  left: 74.72%;
  right: 1.48%;
  top: 78.19%;
} */


#cursorimage{
  position: absolute;
  left: 69.72%;
  right: 1.48%;
  top: 58.19%;
}

#stickerimage{
  position: absolute;
  left: 70.72%;
  right: 1.48%;
  top: 58.19%;
}

.button-container {
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
}

.button-container button {
  margin-right: 10px; /* Adjust the spacing between buttons */
}

.search-container {
  padding: 50px 0;
  background-color: #1a1a1a;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.search-input {
  position: relative;
  width: 100%;
  height: 120px;
  max-width: 31.25rem;
}

.search-input input[type="text"] {
  padding-right: 40px;
}

.search-input button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 10px;
}

.boxes {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.box {
  width: 150px;
  height: 150px;
  background-color: #f1f1f1;
  margin: 0 10px;
}

.testimonial-logos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.testimonial-logo {
  max-width: 100px; /* Adjust the maximum width of the logos */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Add some spacing between logos */
}

.testimonial-logo:last-child {
  margin-right: 0; /* Remove the right margin for the last logo */
}

.section-content {
  padding: 177px 20px 20px 20px;
}

.section-image {
  max-width: 100%;
  height: auto;
}

#compare {
  margin: 0px !important;
  overflow: hidden;
}

.compare-box {
  text-align: center;
  padding: 5px;
  border: 2px solid white;
  border-radius: 5px;
  margin-bottom: 40px;
}

.box-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.compare-title {
  margin-bottom: 10px;
}

.compare-text {
  margin-bottom: 20px;
}

.compare-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #337ab7;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #23527c;
}

.box {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

.box-image {
  max-width: 100px; /* Adjust the image width as needed */
  height: auto;
  margin-right: 20px; /* Add spacing between the image and text */
}

.box-content {
  flex: 1;
}

h4 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #337ab7;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #23527c;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("/minus-circle.png");
  transform: url("/minus-circle.png");
}

.accordion-button.collapsed::after {
  background-image: url("/plus-circle.png");
}
